{
  "presets": ["next/babel"],
  "plugins": [
    "babel-plugin-styled-components",
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "ast": true
      }
    ]
  ]
}